body{
    background-color: rgb(20, 19, 19);
}
.principal{
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    gap: 20px; 
}
.pai_fieldset{
  justify-content: center;
  align-items: center;
  display: flex;
  top: 6%; 
  left: 32%;
}
.col{
    
    background-color: white;

}
.img{
    display: inline-block;
    background-color: white;
    width: 100px;
    left: 0%
}
.row1{
    display: flex;
  gap: 20px;
  text-align: right;
  
}
.MBTI{
    display:inline-block;
    background-color: red;
    
}
.anagrama{
    display:inline-block;
    background-color: aqua;
}
#aparecerPersonagemBotao{
display:flex;
top: 100px;
}