body{
    background-color: rgb(20, 19, 19);
}
.principal{
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 800px;
    width: 700px;
    display: grid;
    gap: 20px; 
}
.pai_fieldset{
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 20%; 
  left: 32%;
}
.col{
    background-color: white;
}
.img{
    background-color: white;
    width: 20px;
}