body{
    background-color: rgb(20, 19, 19);
}
.principal{
    height:100px;
}
.pai_fieldset{
display: flex;
justify-content: center;
}
.col{
    background-color: white;
    height: 250px;
    width: 250px;

}
.img{
    background-color: white;
    width: 100px;
    left: 0%
}
.row1{

}
.MBTI{
    display:inline;
    background-color: red;
    
}
.anagrama{
    display:inline;
    background-color: aqua;
    
}

.nome{
    display: inline;
    max-height: 50px;
    max-width: 50px;
}